<% data.comments.forEach(comment => { %>
    <div class="comment">
        <!-- replace img link with data -->
         <% if(comment.commenter.picture) { %>
            <img src="<%= comment.commenter.picture %>" alt="profile-picture">
        <% } else { %> 
            <img src="/img/user-icon-default.png" alt="profile-picture">
        <% } %>
        <div id="comment-editing">
        <!-- define route for userprofile url -->
        <a href="/user-profile/<%= comment.commenter._id %>"><%= comment.commenter.username %></a>
        <button id="edit-comment" onclick="editComment()"> Edit </button>
        </div>
        <p id="comments"><%= comment.comment %></p>
    </div>
<% }) %>