<% data.forEach(comment => { %>
    <div class="comment">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png" alt="profile-picture">
        <div id="comment-editing">
        <a href="viewprofile.html"><%= comment.commenter %></a>
        <button id="edit-comment" onclick="editComment()"> Edit </button>
        </div>
        <p id="comments"><%= comment.comment %></p>
    </div>
<% }) %>

