<div id="auth-content"><!--same with register (keep and rename class/id name)-->
    <h2>REGISTER</h2>
    <div id="auth-form"><!--same with register (keep and rename class/id name)-->
        <h3>Password</h3>
        <h3 id="right-align">Username</h3>
        <input type="password" id="password" placeholder="Enter your password">
        <input type="text" id="username" placeholder="Enter your username">
        <br><br><h3>Confirm Password</h3>
        <input type="password" id="confirm" placeholder="Confirm your password">
        <br><br><button>Register</button>
        <a href="/login">Already have an Account? Login!</a>
    </div>
</div>

