<div class="main-content">
    
        <div class="community community-layout">
            <a href="/" class="link-overlay"></a>
            
                <img src="/img/saladstop.png">
            
             
            <!-- Community banner layout still WIP  -->
            <div class="community-text">
                <h1>SaladStop P100 Voucher</h1>
                <p>Redeem with 200 Animoins!</p>
            </div>
        </div>

        <div class="community community-layout">
            <a href="/" class="link-overlay"></a>
            
                <img src="/img/pet.jpeg">
            
             
            <!-- Community banner layout still WIP  -->
            <div class="community-text">
                <h1>Pet Express P100 Voucher</h1>
                <p>Redeem with 200 Animoins!</p>
            </div>
        </div>

        <div class="community community-layout">
            <a href="/" class="link-overlay"></a>
            
                <img src="/img/datc.jpeg">
            
             
            <!-- Community banner layout still WIP  -->
            <div class="community-text">
                <h1>Dogs and the City P100 Voucher</h1>
                <p>Redeem with 200 Animoins!</p>
            </div>
        </div>
    
</div>