<div class="main-content">
    <section class="community-header community-layout">
        <div class="community-text">
            <h1>About The Forum</h1>
            <p>Welcome to The Forum, a place where you can share your thoughts, ideas, and connect with others. Our mission is to provide a platform for open and "respectful" discussions on a variety of topics.</p>
        </div>
    </section>

    <section class="community-header community-layout">
        <div class="community-text">
            <h1>Team Members:</h1>
            <ul>
                <li>Jean-Luc Gaffud</li>
                <li>Lance Xavier Lim</li>
                <li>Reyvin Matthew Tan</li>
                <li>Gerardo Miguel Velasquez</li>
            </ul>
        </div>
    </section>

    <section class="community-header community-layout">
        <div class="community-text">
            <h1>References: </h1>
            <ul>
                <li>StackOverFlow</li>
                <li>GPT-4o</li>
                <li>Github</li>
                <li>GeeksforGeeks</li>
                <li>W3Schools</li>
            </ul>
            <h1> Dependencies: </h1>
            <ul>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>MongoDB</li>
                <li>Embedded JavaScript</li>
                <li>Passport.js</li>
                <li>Express-Session: Session</li>
                <li>JSON Web Tokens (JWT): For authentication</li>
                <li> Multer: middleware for handling uploading files</li>
            </ul>
        </div>
    </section>
</div>
