<div id="create-post">
    <h1>Create your post</h1>
    <form action="/submit-post" method="POST">
        <div id="community">
            <select name="community" id="select-community" required>
                <option value="" disabled selected>Select Community</option>
                <% communities.forEach(community => { %>
                    <option value="<%= community._id %>">c/<%= community.name %></option>
                <% }) %>
            </select>
        </div>
        <input type="text" id="title" name="title" placeholder="Title...*" required>
        <textarea id="content" name="content" placeholder="Content...*" required></textarea>
        <button type="button" id="discard" onclick="window.location.href='/'">Discard</button>
        <button type="submit" id="postbutton">Post</button>
    </form>
</div>

