<% if (locals.inCommunity) { %>
    <div class="community-header community-layout">
        <img src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif" alt="profile-picture">
        <div class="community-text">
            <h1>c/<%= community.name %></h1>
            <p><%= community.description %></p>
            <sub>Created <%= community.createdAt %></sub>
        </div>
    </div>
<% } %>

<%- include('./partials/post.ejs') %>