<% if (locals.inCommunity) { %>
    <div class="community-header community-layout">
        <img src="/img/community-icon-default.png" alt="profile-picture">
        <div class="community-text">
            <h1>c/<%= community.name %></h1>
            <p><%= community.description %></p>
            <sub>Created: <%= community.createdAt.toDateString() %></sub>
        </div>
    </div>
<% } %>

<%- include('./partials/post.ejs') %>