<div class="auth">
    <div id="auth-header">
        <a href="/">        
            <h1>THE FORUM</h1>
            <h4>This is one of the forums of all time</h4>
        </a>
    </div>  
    
    <div id="auth-content"><!--same with register (keep and rename class/id name)-->
        
        <% if (locals.errorMessage) { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
        <% } %>
        <h2>LOGIN</h2>
        <div id="auth-form"><!--same with register (keep and rename class/id name)-->
            <form action="/login" method="POST">
                <label for="username"><h3>Username</h3></label>
                <label for="password"><h3 id="right-align">Password</h3></label>
                <input type="text" placeholder="Enter your username" name="username">
                <input type="password" style="float:right" placeholder="Enter your password" name="password">
                <br><br>
                <input type="checkbox" id="remember-me" name="remember-me" value="true">
                <label for="remember-me">Remember Me</label>
                <br><br><br><input type="submit" value="Login" id="login-form-button">
            </form>
            <br><a href="/register">New to The Forum? Register Now!</a>
        </div>
    </div>

</div>








