<!-- Static html ported, not yet adjusted -->

<main class="main">
    <div class="post-container">
        <div class="profile-picture">
            <img src="https://yt3.googleusercontent.com/0VEG-XT4JS5iMjk4LxW8UFQ2x9DamEZ3Sa4oQKonlKqgrO1URMv-AFjvcTOUpaEzfKO7jksOdA=s900-c-k-c0x00ffffff-no-rj" alt="RickRoll">
            <a href="viewprofile.html">Username</a>
            <div class="post-edit-buttons">
                <button> Edit </button>
                <button> Delete </button>
            </div>
        </div>
        <h4>Just another Chill Guy</h4>
        <img src="https://cdn.shopify.com/s/files/1/0075/1360/4160/files/BLOG_Wim_Hof-01.jpg?v=1620577627" alt="Rick">
        <!-- <button>
            <img src="images/upvote-icon.svg" alt="Upvote">
            <p>4</p>
        </button>
        <button>  
            <img src="images/downvote-icon.svg" alt="Downvote">
            <p>1</p>
        </button>
        <button>
            <img src="https://w7.pngwing.com/pngs/349/305/png-transparent-computer-icons-internet-forum-comment-miscellaneous-monochrome-black-thumbnail.png" alt="Comment">
            Comment 
        </button><br> -->

        <div class="post-content">
            <p>Wim Hof is no joke, probably the coolest guy, literally and figuratively</p>
        </div><hr>

        <input type="text" id="add-comment" placeholder="Add a Comment...">

        <div class="comment">
            <img src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif" alt="RickRoll">
            <div id="comment-editing">
            <a href="viewprofile.html">Username:</a>
            <button id="edit-comment" onclick="editComment()"> Edit </button>
            </div>
            <p id="comments">NOOOO I GOT ROLLED</p>
        </div>
        <div class="comment">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZO4F0lKoa1G1MOrQ7b0hrCsSupq1XH9WtYw&s" alt="EvilTobey">
            <a href="viewprofile.html">BullyMaguire:</a>
            <p id="comments">I'M GONNA PUT SOME DIRT IN YOUR EYE</p>
        </div>
        <div class="comment">
            <img src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif" alt="RickRoll">
            <a href="viewprofile.html">Astleythe2nd:</a>
            <p id="comments">YOU KNOW THE RULESSS AND SO DO IIII---</p>
        </div>
        <div class="comment">
            <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png" alt="RickRoll">
            <a href="viewprofile.html">Heisenberg</a>
            <p id="comments">COME ON JESSE, STOP COMMENTING AND HELP ME WITH THIS BATCH</p>
        </div>
        <div class="comment">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBGZJOyYxtYgF6KbD6wLHDy8yG0WCMiDDx7w&s" alt="RickRoll">
            <a href="viewprofile.html">DEA</a>
            <p id="comments">HEISENBERG</p>
        </div>
    </div>
</main>