<div class="auth">
    <div id="auth-header">
        <h1>THE FORUM</h1>
        <h4>This is one of the forums of all time</h4>
    </div>  
    
    <div id="auth-content"><!--same with register (keep and rename class/id name)-->

        <% if (locals.errorMessage) { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
        <% } %>
        <h2>REGISTER</h2>
        <div id="auth-form"><!--same with register (keep and rename class/id name)-->
            <form action="/register" method="POST">
                <label for="password"><h3>Password</h3></label>
                <label for="username"><h3 id="right-align">Username</h3></label>
                <input type="password" id="password" placeholder="Enter your password" name="password">
                <input type="text" id="username" placeholder="Enter your username" name="username">
                <br><br><label for="confirm"><h3>Confirm Password</h3></label>
                <input type="password" id="confirm" placeholder="Confirm your password" name="confirm">

                
                <ul id="password-requirements">
                    <h5>Password requirements:</h5>
                    <li id="number">At least one number</li>
                    <li id="special">At least one special character</li>
                    <li id="length">Minimum 8 characters</li>
                </ul>

                <br><br><input type="submit" value="Register" id="login-form-button">
            </form>
            <a href="/login">Already have an Account? Login!</a>
        </div>

    </div>

</div>








